@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
  background-color: #FFF;
  color: #000;
}

button[class*='MuiButton-containedPrimary'] {
  background-color: #fbc004;
  
  }
  

  .MuiBox-root
  {
    border-bottom-color: #dcdcdc;
  }
  
  
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
    .MuiBox-root
    {
      border-bottom-color: #3d3d3d;
    }
    .MuiTextField-root
  {
    
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    color: #FFF;
  }
  .MuiInputBase-root, .MuiInputAdornment-root {
    color: #FFF;
  }
  
}